<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34662457-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-34662457-4');
    </script>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <a href="/" class="btn">Home</a>
      <a href="https://rivr.app" class="btn">Rivr merge your streams</a>
      <a href="https://itunes.apple.com/nz/developer/andrew-farquharson/id852921471&ct=site-mainsite" class="btn">App Store</a>
      <a href="mailto:specialcircumstancesapps+websupport@gmail.com" class="btn">Contact Me</a>
      <a href="/PrivacyPolicy" class="btn">Privacy Policy</a>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <center>
        <font size="-1">Apple, the Apple logo, iPhone, iPad, and Apple Watch are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.</font>
        </center>
      </footer>
    </section>
  </body>
</html>
